.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
  background: transparent center no-repeat;
}

.icon.facebook {
  background-image: url('../../icons/facebook.svg');
}

.icon.sign-in {
  background-image: url('../../icons/sign-in.svg');
}

.icon.user {
  background-image: url('../../icons/user.svg');
}
